.admin-download {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.admin-download .download-button {
  align-items: baseline;
  gap: 10px;
  padding: 20px 40px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 120%;
  color: white;
  background-color: #008CBA;
  cursor: pointer;
  transition: all ease 0.5s;
}

.admin-download .download-button i {
  font-size: 150%;
}

.admin-download .download-button:hover {
  transform: scale(1.10);
  background-color: #006f94;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}