.admin-users {
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 3vh;
  overflow-y: auto;
}

.admin-users .show-modal-btn-container {
  margin-top: 3vh;
  width: 90%;
}

.admin-users .show-modal-btn {
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #008CBA;
  color: white;
  transition: all ease 0.3s;
}

.admin-users .show-modal-btn:hover {
  background-color: #006f94;
  transform: scale(1.05);
}

.admin-users .fullscreen-dimmer {
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.admin-users .users {
  gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 3vh;
}