.no-auth-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('../../public/assets/no_auth_bg_img.svg');
  background-size: cover;
}

.no-auth-page .u-cant-c-me {
  opacity: 0.005;
}

.no-auth-page .presentation {
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  gap: 20px;
}

.no-auth-page .presentation .title,
.no-auth-page .presentation .abstract {
  margin: 0;
  padding: 0;
  color: white;
}

.no-auth-page .presentation .title {
  font-size: 400%;
}

.no-auth-page .presentation .abstract {
  font-size: 140%;
  margin-left: 5px;
}

.no-auth-page .presentation .buttons-group {
  gap: 20px;
  margin-left: 5px;
  flex-wrap: wrap;
  width: 70%;
}

.no-auth-page .presentation .buttons-group button {
  cursor: pointer;
  border-radius: 6px;
  font-size: 140%;
  padding: 5px 24px;
  transition: all ease 0.2s;
}

.no-auth-page .presentation .buttons-group button:hover {
  transform: scale(1.05);
}

.no-auth-page .presentation .buttons-group button:nth-child(2) {
  border: solid white 2px;
  color: white;
  background-color: transparent;
}

.no-auth-page .presentation .buttons-group button:first-child {
  border: solid white 2px;
  color: #001220;
  background-color: white;
}

.no-auth-page .presentation .buttons-group button:last-child {
  padding: 5px 29px;
}

.no-auth-page .forms {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.no-auth-page .login-form-container,
.no-auth-page .register-form-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  padding: 0 30px 50px 30px;
  color: white;
  background: rgba(0, 7, 12, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(20, 12, 87, 0.41);
  animation-timing-function: cubic-bezier();
  animation: slideFromRight 0.7s forwards;
}

.no-auth-page .login-form,
.no-auth-page .register-form {
  flex-direction: column;
}

@keyframes slideFromRight {
  from {
    right: -40%;
    transform: translateY(-50%);
  }

  to {
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.no-auth-page .login-form label,
.no-auth-page .register-form label {
  margin-bottom: 5px;
}

.no-auth-page .login-form input,
.no-auth-page .register-form input {
  margin-bottom: 15px;
  padding: 6px;
  border-radius: 8px;
  font-size: 110%;
}

.no-auth-page .login-form button,
.no-auth-page .register-form button {
  cursor: pointer;
  width: fit-content;
  margin-top: 10px;
  padding: 6px 14px;
  color: white;
  border: solid white 2px;
  border-radius: 5px;
  background-color: transparent;
  transition: all ease 0.2s;
}

.no-auth-page .register-form button {
  color: white;
  background-color: transparent;
}

.no-auth-page .register-form button:disabled {
  border: solid rgb(123, 123, 123) 2px;
  background-color: rgba(41, 41, 41, 0.8);
  cursor: not-allowed;
}

.no-auth-page .login-form button {
  background-color: white;
  color: rgb(5, 2, 31);
}

.no-auth-page .login-form button:hover,
.no-auth-page .register-form button:not(:disabled):hover {
  transform: scale(1.05);
}

.no-auth-page .form-title {
  align-self: center;
  font-size: 200%;
}

.no-auth-page .register-form .criterias {
  flex-direction: column;
  gap: 5px;
}

.no-auth-page .register-form .criteria {
  gap: 5px;
  align-items: baseline;
}

.no-auth-page .register-form .criteria p {
  margin: 0;
}

.no-auth-page .register-form .criteria .fa-check {
  color: rgb(1, 222, 1);
}

.no-auth-page .register-form .criteria .fa-xmark {
  color: red; 
}