.profile {
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--navbar-height));
}

.profile .content {
  flex-direction: column;
  align-items: center;
  width: 60%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 12px;
  border-radius: 12px;
}

.profile .content .permissions {
  margin: 0;
  font-size: 110%;
}

.profile .content .profile-form {
  flex-direction: column;
  width: 60%;
  align-items: center;
  font-size: 110%;
}

.profile .content .profile-form .field {
  width: 80%;
}

.profile .content .profile-form .passwords-container {
  width: 80%;
  margin-top: 50px;
  align-items: flex-end;
}

.profile .content .profile-form .passwords-container .passwords {
  flex-direction: column;
}

.profile .content .profile-form .passwords-container .criterias {
  flex-direction: column;
  gap: 5px;
  animation: appear 0.5s ease forwards;
}

.profile .content .profile-form .passwords-container .criterias.inactive {
  animation: disappear 0.5s ease forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.profile .content .profile-form .passwords-container .criterias .criteria {
  align-items: baseline;
  gap: 5px;
}

.profile .content .profile-form .passwords-container .criterias .criteria p {
  margin: 0;
}

.profile .content .profile-form .passwords-container .criterias .criteria .fa-check {
  color: rgb(1, 222, 1);
}

.profile .content .profile-form .passwords-container .criterias .criteria .fa-xmark {
  color: red; 
}

.profile .content .profile-form input,
.profile .content .profile-form label {
  display: block;
  width: 100%;
}

.profile .content .profile-form label {
  margin: 30px 0 10px 0;
}

.profile .content .profile-form input {
  border: none;
  border-bottom: solid #676A6C 2px;
  font-size: 105%;
  transition: all ease 0.3s;
}

.profile .content .profile-form input:focus {
  outline: none;
  transform: scale(1.05);
  border-color: rgb(176, 52, 3);
}

.profile .content .profile-form .buttons {
  justify-content: flex-end;
  gap: 40px;
  width: 80%;
  margin-top: 30px;
}

.profile .content .profile-form .buttons button {
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all ease 0.3s;
}

.profile .content .profile-form .buttons button:hover {
  transform: scale(1.05);
}

.profile .content .profile-form .buttons button.cancel {
  background-color: black;
  color: white;
}

.profile .content .profile-form .buttons button.submit {
  background-color: #04AA6D;
}

.profile .content .profile-form .buttons button.submit:hover {
  background-color: #037f52;
}

.profile .content .profile-form .buttons button.cancel:hover {
  background-color: rgb(19, 19, 19);
}