.snack-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 65px;
  right: 5px;
  border-radius: 12px;
}

.snack-message.full-top {
  top: 5px;
}

.snack-message.success {
  background-color: palegreen;
}

.snack-message.warning {
  background-color: palegoldenrod;
}

.snack-message.error {
  background-color: #FF9494;
}

.snack-message.info {
  background-color: rgb(154, 219, 219);
}

.snack-message .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  padding: 3px 8px 0 0;
}

.snack-message p {
  margin: 0;
  padding: 0 12px 8px 12px;
}